<h3>New rent request from <%= @request.name %></h3>
<hr/>
<h4>Listing: <%= @request.listing.title %></h4>
<h4>Contact Number: <%= @request.contact_number %></h4>
<h4>Comment: <br/> <%= @request.comment %></h4>
<hr/>
<h4>Requested on <%= @request.created_at %></h4>


